<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel='stylesheet' href='/public/styles/normalize.css'>
    <link rel='stylesheet' href='/public/styles/dispiro.css'>
</head>
<body>
    <input type='text'></input>
    <input type='date'></input>
    <button class='primary-color'>Tests</button>
    <button class='secondary-color'>Tests</button>
    <button>Tests</button>
    <input type="checkbox"></input>
    <script src='/public/scripts/app.js'></script>
</body>
</html>